@font-face {
  font-family: 'Tokped';
  src: url('https://assets.tokopedia.net/asts/unify/fonts/OpenSauceOne-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('./checkbox-custom.scss');
@import url('./toggle-custom.scss');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

footer {
  font-family: 'Plus Jakarta Sans';
}

body {
  font-family: 'Tokped', Roboto;
  background-color: #f3f4f5;
  color: black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-blur {
  background-color: rgba(248, 246, 246, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.bg-custom {
  background-color: #f3f4f5;
}

.kontener {
  width: 100%;
}

@media (min-width: 500px) {
  .kontener {
    max-width: 500px;
  }
}
@media (min-width: 640px) {
  .kontener {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .kontener {
    max-width: 768px;
  }
}
@media (min-width: 845px) {
  .kontener {
    max-width: 845px;
  }
}
@media (min-width: 1024px) {
  .kontener {
    max-width: 900px;
  }
  .hero {
    max-height: 100%;
  }
}
@media (min-width: 1030px) {
  .kontener {
    max-width: 1070px;
  }
}
@media (min-width: 1200px) {
  .kontener {
    max-width: 1200px;
  }
}
